FIREBASE_API_KEY=AIzaSyM4VDiyKHI9iHf1186rlSJdYrKHvJFsg
FIREBASE_AUTH_DOMAIN=pg-manager-8876c.firebaseapp.com
FIREBASE_PROJECT_ID=pg-manager-8876c
FIREBASE_APP_ID=1:625854605519:web:a4de97d141d715999e6fba
GOOGLE_APPLICATION_CREDENTIALS=D:\PG_MN\serviceAccountKey.json

